
body, html {
  margin: auto;
  padding: auto;
  overflow: hidden;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95% 95%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.container {
  padding: 20px 40px;
}

.to-modal {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .8;
  z-index: 98;
}

.modal-background {
  position: absolute;
  top: -12%;
  background-image: url(./assets/modal-background.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 99;
}

.modal-info {
  text-align: center;
  color:#fff;
}

.modal-info h2 {
  font-size: 80px;
  margin: 0;
  margin-top: 20px;
}

.modal-info div {
  font-size: 250px;
}

.league-logo-modal {
  width: 200px;
}

.team-info-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-team-name h1 {
  font-family: "Rowdies", serif;
}

.text {
  text-align: center;
  color: #fff;
  margin: 0;
}

.remote-btn {
  color: white !important;
  border: 1px solid !important;
}

.logo img {
  width: 180px;
  right: 36px;
  top: 30px;
  position: fixed;
  z-index: 1;
}

.fulltime {
  font-size: 212px;
  margin-top: -20px;
}

.twenty-four {
  position: relative;
  font-size: 112px;
  margin-top: -16px;
}

.teams-logo {
  width: 300px;
  margin-top: -166px;
}

.teams-name {
  position: absolute;
  width: 95vw;
  bottom: 330px;
  display: flex;
  justify-content: space-between;
}

.teams-name h1 {
  text-transform: uppercase;
  font-size: 28px;
  font-family: "Rowdies", serif;
  font-weight: 700;
  font-style: normal;
  margin: 10px 20px 4px;
}

.score {
  font-size: 310px;
  margin-top: -50px;
}

.fault {
  margin-top: 64px;
  font-size: 36px;
}

.fault-numb {
  font-size: 116px;
  margin-top: -25px;
}

.timeout {

}

.time-out-button {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-out-button img {
  width: 15px;
  height: 15px;
}

.consult {
  margin-top: 0px;
  display: flex;
  justify-content: space-evenly;
}

.consult img {
  width: 40px;
}

.possession {
  position: absolute;
  top: 245px;
  width: 95vw;
}

.triangle {
  width: 60px;
}

.left {
  position: relative;
}

.left img {
  position: absolute;
  top: 0;
  right: 0;
}

.right {
  transform: rotate(180deg);
}

.period {
  font-size: 28px;
  width: 95vw;
  position: absolute;
  bottom: 296px;
  text-align: center;
  cursor: "pointer";
  font-size: 26px;
  z-index: 1;
}

/* REMOTE */

.logo-remote {
  width: 180px;
  right: 100px;
  top: 0px;
  position: fixed;
}

.teams-name-remote {
  position: absolute;
  width: 95vw;
  bottom: 330px;
  display: flex;
  justify-content: space-around;
}

.score-input {
  height: 30px;
  width: 200px;
}

.possession-remote {
  position: absolute;
  top: 258px;
  right: 440px;
  margin: 10px;
  padding: 4px 38px;
  width: 30px;
  border: 1px solid #fff;
  border-radius: 30px;
  cursor: pointer;
}

.period-remote {
  width: 100vw;
  position: absolute;
  bottom: 263px;
  text-align: center;
  cursor: "pointer";
  font-size: 26px;
  display: flex;
  justify-content: center;
}

.possession-remote:hover {
  background-color: #ffffff33;
}

.triangle-remote {
  width: 45px;
  height: 100px;
  position: absolute;
  top: 216px;
  left: 505px;
  display: flex;
  flex-direction: column;
}

.triangle-right{
  transform: rotate(180deg);
}

.teams-logo-remote {
  position: absolute;
  width: 95vw;
  text-align: center;
  top: 160px;
  margin: 0 40px
}

.teams-logo-remote img {
  width: 150px;
}

.team-a-remote {
  display: flex;
  align-items: center;
}

.team-b-remote {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.open-new-tab-btn {
  text-align: right;
  margin: -50px 46px;
}

.open-new-tab-btn button {
  color: white;
  background-color: crimson;
}

