body, html {
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.shotclock input{
    font-size: 100px;
    text-align: center;
    color: #ff7979;
    background-color: transparent;
}

.score-editor {
    font-size: 160px;
    text-align: center;
    color: #ff7979;
    background-color: transparent;
    font-family: 'rowdies';
}